body {
    margin: 40px;
    background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1141&q=80");
    
}

/* body::after { */
    /* content: "";
    background: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1141&q=80");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    position: absolute;
    z-index: -1;    */
  /* } */
  
  /* .wrapper {
          display: grid;
      grid-gap: 10px;
          grid-template-columns: 100px 100px 100px;
          background-color: #fff;
          color: #444;
      }
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
  
      }
  
      .a {
          grid-column: 1 / span 2;
      }
      .b {
          grid-column: 3 ;
          grid-row: 1 / span 2;
      }
      .c {
          grid-column: 1 ;
          grid-row: 2 ;
      }
      .d {
          grid-column: 2 ;
          grid-row: 2 ;
      } */

/* <!-- Container element -->
<div class="parallax"></div> */